.cart
	background #ededed

.hide
	display none

.title
	text-align center
	font-size 24px
	line-height 28px
	margin-bottom 15px
	font-weight 700

.btn
	display block
	margin 0 auto
	padding 8px 15px
	border-radius 5px
	font-size 18px
	line-height 20px
	min-width 140px
	color #fff
	background #152bc5
