@import '../../styl/vars.styl';

.checkout
	display block
	padding 50px 0

.label
	display block
	margin-bottom 10px

.title
	text-align center
	font-size 24px
	line-height 28px
	margin-bottom 15px
	font-weight 700

.form
	width 350px
	border 2px solid $black32
	border-radius 10px
	margin 0 auto
	padding 20px 15px

.input
	font-size 16px
	line-height 18px
	width 100%
	padding 5px 10px
	border 1px solid $black32;
	border-radius 4px

.name
	display inline-block
	font-size 16px
	line-height 18px
	margin-bottom 5px

.btn
	display block
	padding 8px 15px
	border-radius 5px
	font-size 18px
	line-height 20px
	min-width 80px
	color #fff
	background #152bc5

	&:not(:last-child)
		margin-right 15px

.wrap
	display flex
	justify-content center
