@import '../../styl/main.styl';

.block
	position fixed
	top 50%
	left 50%
	width 340px
	padding 20px 30px
	border 1px solid #ddd
	border-radius 10px
	background #fff
	transition: transform .25s ease
	z-index 2

// .background
// 	position fixed
// 	top 0
// 	left 0
// 	width 100vw
// 	height 100vh
// 	background rgba(0,0,0,.5)
// 	z-index 1

.title
	font-size 30px
	line-height 32px
	color #323232
	text-align center
	margin-bottom 15px

.text
	font-size 18px
	line-height 20px
	margin-bottom 30px
	text-align center
	color #323232

.btns
	display flex
	justify-content center

.show
	visibility visible
	transform translate(-50%, -50%) scale(1)

.hide
	visibility hidden
	transform translate(-50%, -50%) scale(0)
