.header
	display flex
	justify-content flex-end
	padding 15px 30px
	background #f5f6f7

.link
	position relative
	font-size 16px
	font-weight 500
	display flex
	align-items center

.icon
	width 20px
	height 20px
	margin-right 10px

.countText
	position absolute
	bottom -6px
	left -6px
	width 16px
	height 16px
	font-size 12px
	text-align center
	line-height 16px
	border-radius 50%
	color #fff
	background #ff1e1e
