@import '../../styl/main.styl';

.error
	max-width 400px
	margin 0 auto

.title
	text-align center
	font-weight 700
	font-size 120px
	line-height 140px
	margin-bottom 20px

.text
	font-size 32px
	margin-bottom 15px
	text-align center

.linkWrap
	display flex
	justify-content: center;
	align-items: center;

.smallText {
	font-size 20px
	margin-right 10px
}
