@import '../../styl/vars.styl';

.table
	width 800px
	margin 0 auto 20px

.th,
.td
	width 20%
	padding 4px 10px
	text-align center
	border 1px solid $black32

.th
	font-size 18px
	line-height 20px

.td
	color $black32
	font-size 16px
	line-height 18px

.total
	width 800px
	margin 0 auto
	font-size 18px
	font-weight 700
