@import 'reset.styl'

body
	display grid
	grid-template-columns 1fr auto
	transition all .5s
	user-select none
	gap 10px
	font-size 16px

.btn
	display block
	padding 8px 15px
	border-radius 5px
	font-size 18px
	line-height 20px
	width 80px
	text-align center
	color #fff
	background #152bc5

	&:not(:last-child)
		margin-right 15px
