@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$roboto = 'Roboto';

// $purple = #5e4564;
$black32 = #323232;
$white = #fff;
$red = #e30909;
$darkBlue = #050030;
